.contenedor-boton {
  flex: 1 1;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #531515;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.contenedor-boton:hover{
  background-color:#ffa5a5;
}

.operador {
  background-color: #cf5252;
}

.igual {
  background-color: #b81a1a
}